* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding:0;
  margin:0;
}

body {
  max-width: 600px;
  margin:0 auto;
 // border:2px solid black;
  }

@import "/Users/Jen/Desktop/wolverine/saucony/sass/elements/_variables.scss";
@import "/Users/Jen/Desktop/wolverine/saucony/sass/elements/_hero.scss";
@import "/Users/Jen/Desktop/wolverine/saucony/sass/elements/_introduction.scss";
@import "/Users/Jen/Desktop/wolverine/saucony/sass/elements/_footer.scss";
@import "/Users/Jen/Desktop/wolverine/saucony/sass/elements/_products.scss";
