@font-face {
    font-family: 'Gotham Black';
    src: url('../../fonts/Gotham-Black.eot');
    src: url('../../fonts/Gotham-Black.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/GothamBlack.woff2') format('woff2'),
        url('../../fonts/GothamBlack.woff') format('woff'),
        url('../../fonts/GothamBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Light';
    src: url('../../fonts/Gotham-Light.eot');
    src: url('../../fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Gotham-Light.woff2') format('woff2'),
        url('../../fonts/Gotham-Light.woff') format('woff'),
        url('../../fonts/Gotham-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

