@import "/Users/Jen/Desktop/wolverine/saucony/sass/elements/_fonts.scss";

.social-icons {
    list-style:none;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    max-width:600px;
    min-width:600px;
    margin:50px auto;
    padding: 20px 0;
    li {
        font-size: 3rem;
        a {
            text-decoration:none;
            font-family: 'gotham black';
            color:rgba(80, 210, 197, 0.834);
            &:hover {
                color:rgba(57, 151, 142, 0.834);
            }
        }
    }
}

.meta {
    margin: 10px auto;
    max-width:600px;
    min-width:600px;
    h3 {
        text-align:center;
        padding-top: 70px;
        text-transform:uppercase;
        font-family: 'gotham black';
        color:rgba(80, 210, 197, 0.834);
    }
    .meta-links-list {
        list-style:none;
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content: space-evenly;
        li > a {
            text-decoration: none;
            color:rgba(80, 210, 197, 0.834);
            font-family: 'gotham black';
            font-size: 14px;
            text-transform: uppercase;
            border: 2px solid rgba(80, 210, 197, 0.344);
            padding: 5px 15px;
        }
        a:hover {
            color:rgba(57, 151, 142, 0.834);
        }
    }
}

body > footer > div {
    max-width:600px;
    min-width:600px;
    overflow: hidden;
    img {
        width: 1000px;
        height: auto;
    }
}

