@import "/Users/Jen/Desktop/wolverine/saucony/sass/elements/_fonts.scss";
.categories-section{
    padding-top:700px;
}

.aya-section {
    max-width:600px;
    min-width:300px;
    height:600px;
    background-image:url('../../assets/gifs/gif02.gif');
    background-size:contain;
    background-repeat: no-repeat;
    background-position-x: 140%;
    background-position-y: 5vh;
    padding-right:12vw;
    overflow:hidden;
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: left;
    .product-description {
        margin-left:10%;
        width:200px;
    }
    .aya {
    width: 300px;
    height: 200px;
    background-image: url("../../assets/saucony-aya-runner-S70460-1-2 copy.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    &:hover{
    width: 300px;
    height: 200px;
    background-image: url("../../assets/sauconyaya-1559932707.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    }
}
}

.azura-section{
    max-width:600px;
    min-width:300px;
    height:600px;
    background-image:url('../../assets/gifs/gif03.gif');
    background-size:contain;
    background-repeat: no-repeat;
    background-position-x: -50%;
    padding-top:20px;
    padding-left:270px;
    padding-bottom: 250px;
    overflow:hidden;
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
.azura {
    width: 300px;
    height: 200px;
    background-image: url("../../assets/azura01.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    &:hover{
    min-width: 270px;
    height: 230px;
    background-image: url("../../assets/azura02.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    p {
        width:100%;
    }
    }
}
}

.shadow-section{
    max-width:600px;
    min-width:300px;
    height:600px;
    padding-top:70px;
    background-image:url('../../assets/gifs/gif04.gif');
    background-size:contain;
    background-repeat: no-repeat;
    background-position-x: 123%;
    overflow:hidden;
    .product-description {
        text-align: center;
        width:200px;
    }
.shadow {
    width: 300px;
    height: 230px;
    background-image: url("../../assets/shadow01.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    &:hover{
    width: 300px;
    height: 230px;
    background-image: url("../../assets/shadow02.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    }
}
}

.product {
    p {
        color:rgba(80, 210, 197, 0.834);
        min-width: 200px;
        font-size: 18px;
        font-family: 'gotham light';
        margin-bottom:5%;
    }
    button {
        color:rgba(80, 210, 197, 0.834);
        font-family: 'gotham bold';
        font-size: 14px;
        text-transform: uppercase;
        border: 2px solid rgba(80, 210, 197, 0.344);
        padding: 10px 15px;
        &:hover {
            color:rgba(57, 151, 142, 0.834);
        }
    }
}

.emphasis {
    color:rgba(69, 185, 173, 0.834);
    min-width: 200px;
    font-size: 18px;
    font-family: 'gotham black';
    margin-bottom:5%;
}
